
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <h3>Settings</h3>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail profilePicBox">
                    <img src="{{profilePic}}" alt="" >
                </a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-info"  ngf-select="upload($file)">Upload Image</a>  
            </div> 
        </div>

        <form ng-submit="save()">
            <div class="form-group">
                <label for="title">Name</label>
                <input ng-model="user.name"  type="text" class="form-control" autofocus  id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input ng-model="user.phone"  type="text" class="form-control" autofocus  id="phone" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="about">About</label>
                <textarea ng-model="user.about"  type="text" class="form-control" style="width:100%; height:100px;"  id="about" placeholder="About"></textarea>
            </div>
            <div class="form-group">
                <label for="content">Address</label>
                <textarea ng-model="user.address" class="form-control" style="width:100%; height:100px;" id="address" placeholder="address"></textarea>
            </div>
            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
</div>